:root{
  --workSlider: #f54e4e;
  --breakSlider: #4aec8c;
  --workSliderDisabled: #f54e4e65;
  --breakSliderDisabled: #4aec8b6b;
}

body{
  background-color: #532249;
  color: #eee;
}

main{
  align-items: center;
  display: flex;
  flex-wrap: wrap;  
  height: 100vh;
  justify-content: space-around;
}

button{
  background-color: transparent;
  border:0;
  color: rgba(255,255,255,0.8);
  cursor: pointer;
  display: inline-block;
  width: 100px;
}


label{
  display:block;
  margin-bottom: 10px;
  margin-top: 10px;
}
