.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings_slider {
  max-width: 340px;
  min-width: 250px;
}

.settings_slider--slider {
  height: 30px;
  border: 2px solid var(--workSlider);
  border-radius: 20px;
}

.settings_slider--thumb{
  background-color: var(--workSlider);
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

.thumb-disabled{
  background-color: var(--workSliderDisabled);
}

.disabled {  
  border: 2px solid var(--workSliderDisabled);
}

.break {
  border: 2px solid var(--breakSlider);
}

.thumb-break{
  background-color: var(--breakSlider);
}

.break-disabled {
  border: 2px solid var(--breakSliderDisabled);
}

.thumb-break-disabled {
  background-color: var(--breakSliderDisabled);
}

.settings_slider--btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid #000;
  color: #fff;
  background-color: #000;
  padding: 5px;
  border-radius: 5px;  
}

.settings_slider--btn:hover {
  transform: scale(1.1);
}

.disabledBtn {
  background-color: rgb(49, 49, 49);
  opacity: .5;

  border-color: transparent;
}

@media (max-width: 549px) {
  settings_slider--btn{
    margin-bottom: 50px;
  }
}
